@import "node_modules/bootstrap/scss/_functions.scss"; 
@import "node_modules/bootstrap/scss/_variables.scss";

/* -------begin customization-------- */
/* change the primary theme color to red */
$theme-colors: (
    santander: #EC0000
    //primary: #EC0000
);

/* -------end customization-------- */

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
$fa-font-path: "node_modules/@fortawesome/fontawesome-free/webfonts";